<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container">
      <div class="class">
        <h3
          style="padding-left: 10px; margin: 15px; border-left: 4px solid green">
          Quizzes<br />Details
        </h3>
      </div>

      <div id="toggle-container">
        <div id="toggle-icon">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <div class="bar4"></div>
        </div>
        <h3>OJT</h3>
      </div>
    </div>
  </nav>
</div>

<div class="container container-space">
  <div class="row">
    <div class="col-md-8 searchbar">
      <nav class="navbar">
        <form class="d-flex" role="search">
          <input
            class="form-control me-1"
            type="search"
            placeholder="Search"
            aria-label="Search" />
        </form>
      </nav>
    </div>
    <div class="col-md-4 text-md-end">
      <!-- Add data-bs-toggle and data-bs-target to trigger the modal -->
      <button
        (click)="clickAddEmployee()"
        type="button"
        class="btn btn-outline-success btn-create-quiz"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="open(exampleModal)"
        class="btn btn-success btn-create-quiz">
        Create Quiz
      </button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">OJT Name</th>
        <th scope="col">OJT</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Duration</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of emloyeeData">
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.ojt }}</td>
        <td>{{ row.date }}</td>
        <td>{{ row.time }}</td>

        <td>
          <button
            (click)="onEdit(row); open(exampleModal)"
            class="btn btn-success"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Edit
          </button>
          <button (click)="deleteEmployee(row)" class="btn btn-danger mx-2">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #exampleModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create New Quiz</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.close('Close click')"
        aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container mt-5">
        <!-- <form [formGroup]="form"> -->
        <form [formGroup]="formValue">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="name" class="form-label">Name <span
                    class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name" />
              </div>
              <div class="mb-3">
                <label for="OJT" class="form-label">Date <span
                    class="text-danger">*</span></label>
                <input
                  type="date"
                  class="form-control"
                  id="date"
                  formControlName="date" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="OJT" class="form-label">OJT <span
                    class="text-danger">*</span></label>
                <select class="form-select" id="ojt" formControlName="ojt">
                  <option value="primmed">Primmed</option>
                  <option value="tricare for life">Tricare for life</option>
                  <option value="full stack devolper">
                    Full stack devolper
                  </option>
                </select>
              </div>

              <div class="mb-3">
                <label for="Time" class="form-label">Time <span
                    class="text-danger">*</span></label>
                <input
                  type="number"
                  class="form-control"
                  id="time"
                  formControlName="time" />
              </div>
            </div>
          </div>
          <!-- check list -->
          <div class="container checkbx mt-4">
            <p class="text-danger text-sm">
              *None : Select AT Least 5 Question for Quiz
            </p>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="item1" />
              <label class="form-check-label" for="item1">Tricare is insurance
                for</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="item2" />
              <label class="form-check-label" for="item2">Medicaid is
                administered by
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="item3" />
              <label class="form-check-label" for="item3">The difference between
                HMO and PPO plan</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="item3" />
              <label class="form-check-label" for="item3">The difference between
                HMO and PPO plan</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="item3" />
              <label class="form-check-label" for="item3">The difference between
                HMO and PPO plan</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="item3" />
              <label class="form-check-label" for="item3">The difference between
                HMO and PPO plan</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        id="cancel"
        (click)="modal.close('Close click')">
        Close
      </button>
      <button
        type="button"*ngIf="showAdd"
        class="btn btn-primary"
        (click)="postEmployeeDetails()">
        Save
      </button>
      <button *ngIf="showupdate"
        type="button"
        class="btn btn-primary"
        (click)="updateEmployeeDetails()">
        Update
      </button>
    </div>
  </div>
</ng-template>
